<%- include ("../partials/header") %>



<div class="container">	
<header class="jumbotron">
	<div class="container">
		
	
	<h1>
	This is the Campgrounds Page!
		
	</h1>		
	<p>
	View our handpicked campgrounds from all over the world!
	</p>
	<p>
	<a class="btn btn-primary btn-large" href="/campgrounds/new">Add a New Campground</a>
	</p>
	</div>
</header>


	
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% campgrounds.forEach(function(campgrounds){ %>
			<div class="col-lg-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= campgrounds.image %>">
			</div>
			<div class="caption">
				<h4><%= campgrounds.name %></h4>
			</div>
				<a href="/campgrounds/<%= campgrounds.id %>" class="btn btn-primary">More Info</a>
			</div>
		<% }) %>
	</div>
</div>
<footer >
	
		

<%- include ("../partials/footer") %>
	
</footer>